extends layout

block head_block
  title LoLScape - Overall Champion Mastery Hiscores By #{page_name}
  meta(name="description" content="View the summoners with the overall highest champion mastery points in League of Legends.")

block content
  include partials/view_functions

  .centerDiv
    .scrollWrapper
      img.scroll-top(src="/images/scroll_top.gif")
      .scroll
        .scroll-bgimg
          .scroll-content
              br
              div #{addCommas(total_summoners)} total summoners #{overall_region > 0 ? 'on '+region_mapping[overall_region].toUpperCase() : 'globally'}
              br
              
              table#overall_table
                tr
                  th.text-align-center(colspan="4") Overall #{overall_region > 0 ? region_mapping[overall_region].toUpperCase() : 'Global'} Hiscores By #{page_name}
                tr
                  th.text-align-center #
                  th.text-align-left Summoner
                  th Level
                  th XP
                each val in overall_data
                  tr
                    td.text-align-center
                      strong= addCommas(val.rank)
                    td.text-align-left
                      img.summonerProfileIcon(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/#{val.profile_icon_id}.png')
                      a.summonerName(href="/personal/#{val.region_id}/#{val.summoner_id}") (#{region_mapping[val.region_id].slice(0,3).toUpperCase()}) #{val.name}
                    td= addCommas(val.overall_level)
                    td= addCommas(val.overall_points)
          br
      img.scroll-bottom(src="/images/scroll_bottom.gif")